<%= provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-3">
    <section class="user_info">
        <%= image_tag @user.avatar_url(:thumb) if @user.avatar? %>
        <h1>
          <%= @user.name %>
          <% if @user.admin %>
          <%= '(Admin)' %>
          <% end %>
        </h1>
        <h2>
          <% if current_user == @user %>
            <%= link_to 'Upload New Harvest', new_harvest_path %>
          <% end %>
        </h2>
    </section>
  </aside>
  
  <section class="col-md-8"><h2>Harvests</h2>
  <table>
      <tr><% @user.harvests.each do |harvest| %>
        <td>
          <%= image_tag harvest.image_url(:thumb) %>
        </td><% end %>
      </tr>
    </table>
  </section>
  <section class="col-md-8"><h2>Map</h2>
    <div id="map"></div>
    <script>
      var userLat = <%= @user.latitude %>;
      var userLng = <%= @user.longitude %>;
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat:userLat, lng: userLng},
          zoom: 8,
          mapTypeId: 'terrain',
          styles: [
            {
              featureType: 'landscape',
              stylers: [
                { saturation: -50 }
              ]
            },{
              featureType: 'water',
              stylers: [
                { hue: '#174a67' },
                { saturation: 50 },
                { lightness: -80 }
              ]
            },{
              featureType: 'road',
              elementType: 'geometry',
              stylers: [
                { hue: '#00ffee' },
                { saturation: 50 }
              ]
            },{
              featureType: 'poi',
              elementType: 'labels',
              stylers: [
                { visibility: 'off' }
              ]
            }
          ]
        });
      }
    </script>
    
    <section class="col-md-8"><h2>Awards</h2>
  </section>
  </section>
</div>

