<p id="notice"><%= notice %></p>

<h1>Gallery</h1>

<% @harvests.order('created_at DESC').each do |harvest| %>
<section class="center">
  <section class="harvest_catalog">
        <table class="harvest_block">
          <tr>
          <td>
            <%= image_tag harvest.image.url(:thumb) %>
          </td>
          <td class="harvest_data">
            <%= harvest.animal_type %> registered on <%= harvest.created_at %><br>
            Weapon Used: <%= harvest.weapon_type %><br>
            Description: <%= harvest.description %><br>
            Weight: <%= harvest.weight %> lbs
          </td>
          <td class="harvest_category">
            <% if harvest.animal_type == "moose" %><%= image_tag("https://s3.amazonaws.com/gametiks/images/moose.png") %>
            <% elsif harvest.animal_type == "bear" %><%= image_tag("https://s3.amazonaws.com/gametiks/images/bear.png") %>
            <% elsif harvest.animal_type == "deer" %><%= image_tag("https://s3.amazonaws.com/gametiks/images/deer.png") %>
            <% else %><%= image_tag("https://s3.amazonaws.com/gametiks/images/turkey.png") %>
            <% end %>
          </td>
          </tr>
        </table>
      <% end %>
      </section>
      </section>

<%= link_to 'New Harvest', new_harvest_path %>
