<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @harvest.date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @harvest.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= @harvest.image.thumb.url %>
</p>

<%= link_to 'Edit', edit_harvest_path(@harvest) %> |
<%= link_to 'Back', harvests_path %>
