<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @harvest.image_url(:thumb) %>
  
</p>

<p>
  <%= @harvest.description %>
</p>
<%= link_to 'Edit', edit_harvest_path(@harvest) %> |
<%= link_to 'Back', harvests_path %>
